@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');
html {
    font-family: 'Lato', sans-serif;
}
body {
    margin: 0;
}
.wrapper {
    box-sizing: border-box;
    padding: 2em 0; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: azure;
    color: slategray
}
.center {
    justify-content: center;
}

h1, h2, p {
    margin: 0;
}

h1 {
    font-size: 4em;
    font-weight: 300;
    text-align: center;
    margin: 0.8em 0;
}
h2 {
    font-size: 2em;
    margin: 0;
    text-align: center;
}

.currentCount {
    font-size: 10em;
    font-weight: 300;
    margin-bottom: 0.2em;
}  

button {
    padding: 1em 1.5em;
    margin: 0.75em;
    border: none;
    border-radius: 0.5em;
    font-size: 20px;
    font-weight: 700;
    color: whitesmoke;
}

.addOne {
    background-color: green;
}
.subOne {
    background-color: red;
}
