@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');
html {
    font-family: 'Lato', sans-serif;
}
body {
    margin: 0;
}
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: azure;
    color: slategray
}

h1 {
    font-size: 4em;
    font-weight: 300;
    text-align: center;
    margin: 0.8em 0;
}
h2 {
    font-size: 2em;
    margin: 0;
    text-align: center;
}

.currentCount {
    font-size: 10em;
    font-weight: 300;
}  

button {
    padding: 1em 3em;
    margin: 1em;
    border: none;
    border-radius: 0.5em;
}

.addOne {
    background-color: green;
}
.subOne {
    background-color: red;
}
